/*:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --hover-color: #0056b3;
    --success-color: #28a745;
    --error-color: #dc3545;
    --text-light:#fff;
    --bg-light:#f0f0f0;
    --box-shadow: rgba(0, 0, 0, 0.1);
}*/

:root {
    --contrast-color:#007bff;
    --primary-color: #000;
    --secondary-color:  #333;
    --terciary-color: #666;
    --hover-color:  #525252;
    --success-color:  #4caf50;
    --error-color: #f44336;
    --text-light: #fff;
    --bg-light:  #f8f9fa;
    --box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
}

/* === General Styles === */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    line-height: 1.5;
    background-color: var(--bg-light);
}

/* === Login Styles === */
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

p{
    text-align: left;
    font-size: 16px ;
}

/* === Buttons === */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    border-radius: 8px;
    transition:  background-color 0.3s ease; 
    font: bold;
}

button:hover {
    background-color: var(--hover-color);
}

button:active {
    transform: scale(0.98);
    opacity: 0.9;
}

/*Search Section*/
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: var(--primary-color);
}


.product-search {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: var(--error-color);
    font-size: 0.9rem;
    margin-top: 10px;
}

.success-container {
    color: var(--success-color);
    font-size: 0.9rem;
    margin-top: 10px;
}

#interactive {
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: 20px auto;
    border: 2px solid #ccc;
    display: none;
  }


/* === Stock and History Container ===*/
.stock-container{
    border: 2px solid transparent;
    background-color: var(--bg-light);
    border-radius: 8px;
    padding: 15px;
    box-shadow: var(--box-shadow);
}
.stock-container, .history-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--box-shadow);
}

.stock-container p{
    font-size: 20px;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
 }

 .anterior-stock, .nuevo-stock {
    display: flex;
    flex-direction: column;
    flex: 1;
 }

 .anterior-stock label, .nuevo-stock label {
    font-weight: bold;
    margin-bottom: 5px;
 }

 .anterior-stock input, .nuevo-stock input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
 }
 .anterior-stock input {
    background-color: #f1f1f1;
    color: gray;
}

.anterior-stock label, .ant {
    color: #666;
}

.nuevo-stock label, .nue {
    color: #305dc5;
}

.btn-cancel {
    background-color: var(--bg-light);
    color: var(--secondary-color);
    border: #666 1px solid;
}
.btn-cancel:hover{
    background-color: #f1f1f1;
}

.history-container{
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    margin-top: 20px;
}

.history-container ul{
    list-style-type: none;
    padding: 0; 
}

.history-container li {
    background-color: #f1f6fd;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

/*Modal mensajes de validación*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow:var(--box-shadow);
  }
  
  .modal-actions {
    margin-top: 15px;
  }
  
  .hidden {
    display: none;
  }
  
  .btn {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    }
  
  .btn-confirm {
    background-color: var(--secondary-color);
  color: #fff;
  }
 
/*Animación para modificación de stock*/

.fade-in {
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.nuevo {
    transition: color 0.3s ease;
}


/*Show more links*/

.show-more {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.show-more:hover {
    color: var(--hover-color);
}

/* Accordion efect */

.accordion {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-self: center;
    transition: background-color 0.3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
.accordion-content.open {
    max-height: none; /* Ajusta según el contenido esperado */
  }

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/* Botón de limpiar */
.btn-clear {
    display: block;
    margin: 10px auto 0;
    background-color:#007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer; 
}

.btn-clear:hover {
    background-color: #0056b3;
}



.hidden {
    display: none;
}
